In [8]:
import pandas as pd

In [13]:
agg_tran=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/aggregated_transaction.csv")

In [14]:
agg_tran

,state,year,quater,agg_transaction_type,agg_transaction_count,agg_transaction_amount
0,ladakh,2023,2,Peer-to-peer payments,1479909,5.891147e+09
1,ladakh,2023,2,Merchant payments,1121362,1.074374e+09
2,ladakh,2023,2,Recharge & bill payments,337017,2.182297e+08
3,ladakh,2023,2,Financial Services,1885,4.432032e+06
4,ladakh,2023,2,Others,3642,2.921832e+06
...,...,...,...,...,...,...
3949,bihar,2020,4,Peer-to-peer payments,49432098,2.084846e+11
3950,bihar,2020,4,Merchant payments,26750991,2.318559e+10
3951,bihar,2020,4,Recharge & bill payments,19908687,6.926961e+09
3952,bihar,2020,4,Financial Services,119416,1.007857e+08
3953,bihar,2020,4,Others,380481,2.077140e+08

In [17]:
aggreg_tran=pd.DataFrame(agg_tran)

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine("postgresql+psycopg2://postgres:dinesh@localhost:5432/phonepe")

In [21]:
table_name = 'aggregated_transaction'

aggreg_tran.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

954

In [23]:
agg_user=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/aggregated_user.csv")

In [24]:
aggreg_user=pd.DataFrame(agg_user)

In [27]:
table_name = 'aggregated_user'

aggreg_user.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

912

In [28]:
ma_t=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/map_transaction.csv")

In [29]:
map_tran=pd.DataFrame(ma_t)

In [30]:
table_name = 'Map_transaction'

map_tran.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

100

In [31]:
ma_u=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/map_user.csv")

In [32]:
map_user=pd.DataFrame(ma_u)

In [33]:
table_name = 'Map_user'

map_user.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

104

In [34]:
t_t=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/top_transaction_district_state.csv")

In [35]:
top_trans=pd.DataFrame(t_t)

In [36]:
table_name = 'Top_transaction_df_dist'

top_trans.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

512

In [37]:
t_u=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/top_user_district_data.csv")

In [38]:
top_user=pd.DataFrame(t_u)

In [39]:

table_name = 'top_user_district'

top_user.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

512

In [44]:
t_p=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/top_pincode_data.csv")

In [45]:
trans_pin=pd.DataFrame(t_p)

In [46]:
table_name = 'top_transaction_pincode'

trans_pin.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

853

In [47]:
t_u=pd.read_csv("C:/Users/DINESH KUMAR/Downloads/Top_Users_Pincode_data.csv")

In [48]:
user_pin=pd.DataFrame(t_u)

In [50]:
table_name = 'top_user_pincode'

user_pin.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

854